.mainContainer {
  display: flex;
  border: 1px solid black;
  min-height: 500px;
  background-color: #f7f7f7;
}
.sidebarContainer {
  min-width: 200px;
  max-width: 200px;
  flex-grow: 1;
  border: 1px solid black;
}

.contentContainer {
  width: 100%;
  border: 1px solid black;
  padding: 20px;
}
